.container {
    padding: 16px;
    overflow: hidden;
}
.title {
    font-size: 24px;
}
.uploads {
    display: flex;
    justify-content: center;
    align-items: center;
}
.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
}
.divider {
    background-color: black;
    height: 70vh;
    width: 2px;
}
.video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
}