.video-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.video-container>* {
    margin-top: 20px;
}

.image {
    max-width: 450px;
}